/* screen - algebracaves-incorrect */

.algebracaves-incorrect {
  background-color: transparent;
  height: 1024px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.algebracaves-incorrect .algebra-caves-incorrect-C61RwL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/algebracaves-incorrect@1x.svg);
  background-size: 100% 100%;
  height: 1024px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.algebracaves-incorrect .rectangle-9-C61RwL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-9@1x.svg);
  background-size: 100% 100%;
  height: 544px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.algebracaves-incorrect .algebra-cave-level-3-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #403f3f;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 225px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 23px;
  width: 1013px;
}

.algebracaves-incorrect .span0-xof4ww {
  font-style: normal;
}

.algebracaves-incorrect .span1-xof4ww {
  font-size: 50px;
  font-style: normal;
}

.algebracaves-incorrect .span2-xof4ww {
  font-size: 72px;
  font-style: normal;
}

.algebracaves-incorrect .rectangle-4-C61RwL {
  --z-index: 3;
  background-color: #efeded;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  height: 92px;
  left: 298px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 695px;
  width: 323px;
}

.algebracaves-incorrect .retry-C61RwL {
  --z-index: 4;
  background-color: transparent;
  color: #403f3f;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 394px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 695px;
  width: 227px;
}

.algebracaves-incorrect .rectangle-10-C61RwL {
  --z-index: 5;
  background-color: #efeded;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  height: 92px;
  left: 796px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 695px;
  width: 323px;
}

.algebracaves-incorrect .exit-C61RwL {
  --z-index: 6;
  background-color: transparent;
  color: #403f3f;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 919px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 700px;
  width: 227px;
}

.algebracaves-incorrect .you-found-nothing-in-that-rock-C61RwL {
  --z-index: 7;
  background-color: transparent;
  color: #403f3f;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 182px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 322px;
  width: auto;
}
/* screen - algebracaves-question3 */

.algebracaves-question3 {
  background-color: transparent;
  height: 1024px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.algebracaves-question3 .algebra-caves-question3-C61RwL {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/algebracaves-question3@1x.svg);
  background-size: 100% 100%;
  height: 1024px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.algebracaves-question3 .rectangle-9-C61RwL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-9-4@1x.svg);
  background-size: 100% 100%;
  height: 514px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 1440px;
}

.algebracaves-question3 .algebra-cave-level-3-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #403f3f;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 277px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.algebracaves-question3 .span0-xof4ww {
  font-style: normal;
}

.algebracaves-question3 .span1-xof4ww {
  font-size: 50px;
  font-style: normal;
}

.algebracaves-question3 .span2-xof4ww {
  font-size: 72px;
  font-style: normal;
}

.algebracaves-question3 .vector-9-C61RwL {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/vector-9-7@2x.svg);
  background-size: 100% 100%;
  cursor: pointer;
  height: 93px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 20px;
  width: 148px;
}

.algebracaves-question3 .rectangle-14-C61RwL {
  --z-index: 4;
  background-color: #fffefe;
  border-radius: 40px;
  cursor: pointer;
  height: 213px;
  left: 129px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 673px;
  width: 295px;
}

.algebracaves-question3 .x3x-2x5-C61RwL {
  --z-index: 5;
  background-color: transparent;
  color: #000000;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 129px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 794px;
  width: auto;
}

.algebracaves-question3 .image-14-C61RwL {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/image-17@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 114px;
  left: 208px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 686px;
  width: 138px;
}

.algebracaves-question3 .rectangle-15-C61RwL {
  --z-index: 7;
  background-color: #fffefe;
  border-radius: 40px;
  height: 213px;
  left: 572px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 673px;
  width: 295px;
}

.algebracaves-question3 .x3x1x-4-C61RwL {
  --z-index: 8;
  background-color: transparent;
  color: #000000;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 572px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 794px;
  width: auto;
}

.algebracaves-question3 .image-15-C61RwL {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/image-17@2x.png);
  background-size: 100% 100%;
  height: 114px;
  left: 651px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 686px;
  width: 138px;
}

.algebracaves-question3 .rectangle-16-C61RwL {
  --z-index: 10;
  background-color: #fffefe;
  border-radius: 40px;
  cursor: pointer;
  height: 213px;
  left: 1024px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 673px;
  width: 295px;
}

.algebracaves-question3 .x3x-2x4-C61RwL {
  --z-index: 11;
  background-color: transparent;
  color: #000000;
  font-family: 'Moul Pali-Regular', Helvetica;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1024px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 794px;
  width: auto;
}

.algebracaves-question3 .image-16-C61RwL {
  --z-index: 12;
  background-color: transparent;
  background-image: url(../img/image-17@2x.png);
  background-size: 100% 100%;
  height: 114px;
  left: 1103px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 686px;
  width: 138px;
}
